.home{
    width: 100%;

    .home-page{
        width: 100%;
        height: 100vh;
        background-image: url('/image/02_1080x.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}